.profile-btn-img {
  cursor: pointer;
  border-radius: 50%;
  height: 3.7rem;
  width: 3.7rem;
  transition: width 0.3s, height 0.3s, box-shadow 0.3s;
  box-shadow: rgba(241, 240, 240, 0.35) 0px 2px 10px;
}
.profile-btn-img:hover {
  box-shadow: rgba(241, 240, 240, 0.35) 0px 4px 15px;
  width: 3.8rem;
  height: 3.8rem;
  transition: width 0.3s, height 0.3s, box-shadow 0.3s;
}

.Header .menu-item img {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}
.Header .menu-profile-img {
  border-radius: 50%;
  background-color: black;
}

.header-menu-container {
  position: fixed;
  top: 0;
  left: 0;
  background: none;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.header-menu {
  background-color: white;
  position: absolute;
  top: 4.5rem;
  right: 5rem;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  z-index: 1;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.Header .menu-item {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  width: 9rem;
  font-weight: lighter;
}
.Header .menu-item:hover {
  background-color: rgb(206, 206, 248);
}
.Header .menu-item:first-child:hover {
  border-radius: 5px 5px 0 0;
}

.Header .menu-item:last-child:hover {
  border-radius: 0 0 5px 5px;
}
.header-menu hr {
  margin: 0;
  border-width: 0.5px;
  border-color: #ccc;
}

@media only screen and (max-width: 1100px) {
  .header-menu {
    position: absolute;
    right: 1rem;
  }
}
@media only screen and (max-width: 450px) {
  .header-menu {
    position: absolute;
    top: 4rem;
    right: 0.5rem;
  }
}
