.ProfileDetails {
  border: 2px black solid;
  padding: 2rem 2rem 1rem 2rem;
  border-radius: 10px;
  font-size: 1.4rem;
  width: 25rem;
}
.ProfileDetails > div {
  color: black;
  display: flex;
  justify-content: space-between;
  text-align: left;
}
.ProfileDetails > div > label {
  text-decoration: underline;
}
.ProfileDetails hr {
  border-color: rgb(211, 211, 243);
  border-width: 0.5px;
  margin-bottom: 1.5rem;
}
.ProfileDetails button {
  margin-top: 2rem;
}

@media only screen and (max-width: 750px) {
  .ProfileDetails {
    font-size: 1.1rem;
    padding: 1rem;
  }
  .ProfileDetails {
    width: 22rem;
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 435px) {
}
