.VacationBox {
  width: 20rem;
  height: 19rem;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  border: 1px rgb(32, 33, 42) solid;
  margin: 0 1rem 2rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 15px 2px;
}
.VacationBox:hover {
  transition: box-shadow 0.4s;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 25px 10px,
    rgba(0, 0, 0, 0.3) 0px 0px 0px 1px;
}
.VacationBox .destination-img {
  width: 20rem;
  height: 14rem;
  border-radius: 20px 20px 0 0;
}
.edit-img,
.delete-img {
  box-shadow: inset rgb(241, 242, 249) 0px 4px 38px,
    rgb(151, 169, 227) 0px 2px 12px;
  background: rgba(99, 89, 167, 0.7);
  position: absolute;
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 20px;
  padding: 0.3rem;
  cursor: pointer;
  margin-top: 0.5rem;
  margin-left: 17.5rem;
}
.edit-img:hover,
.delete-img:hover {
  padding: 0.4rem;
  transition: padding 0.2s;
}
.edit-img {
  margin-top: 3rem;
}

.details-container {
  padding: 0 1.5rem;
}

.details-container > * {
  text-align: left;
}
.top-vacation-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-vacation-box h3 {
  font-size: 1.3rem;
  margin: 0;
}
.vacation-price {
  font-size: 1.1rem;
}
.vacation-description {
  position: absolute;
  background-color: rgb(255, 255, 255, 0.7);
  width: 20rem;
  height: 5rem;
  text-align: left;
  margin-top: 9rem;
  font-size: 0.9rem;
  opacity: 0;
  transition: opacity 0.8s;
}
.VacationBox:hover .vacation-description {
  opacity: 1;
  transition: opacity 0.8s;
}
.vacation-description > * {
  padding: 0 1.5rem;
}
.vacation-dates {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-around;
  font-weight: bold;
}

.img-loading-spinner {
  height: 14rem;
  display: flex;
  justify-content: center;
}

.vacation-follow-btn {
  position: absolute;
  margin-left: 14.5rem;
  margin-top: 0.5rem;
}

@media only screen and (max-width: 340px) {
  .VacationBox,
  .VacationBox .destination-img,
  .vacation-description {
    width: 18rem;
  }
  .vacation-follow-btn {
    margin-left: 12.5rem;
  }
  .edit-img,
  .delete-img {
    margin-left: 15.5rem;
  }
}

@media only screen and (max-width: 300px) {
  .VacationBox,
  .VacationBox .destination-img,
  .vacation-description {
    width: 17rem;
  }
  .vacation-follow-btn {
    margin-left: 11.5rem;
  }
  .edit-img,
  .delete-img {
    margin-left: 14.5rem;
  }
}
@media only screen and (max-width: 275px) {
  .VacationBox,
  .VacationBox .destination-img,
  .vacation-description {
    width: 15rem;
    font-size: 0.8rem;
  }
  .VacationBox {
    height: 17rem;
  }
  .vacation-dates {
    margin-top: 0.5rem;
  }
  .vacation-follow-btn {
    margin-left: 9.5rem;
  }
  .edit-img,
  .delete-img {
    margin-left: 12.5rem;
  }
  .top-vacation-box h3 {
    font-size: 1rem;
  }
  .vacation-price {
    font-size: 1rem;
  }
}
